{% extends "mobile/home.html" %}
{% block content %}
<html>
<head>
<style type="text/css">
body
{
background-color:#b0c4de;
}
</style>
</head>

<div><h3>Events</h3></div>
<p><a href="/mobile/eventadd/">Add Event</a></p>
<br />
{% for event in event_list reversed %}
<a href="/mobile/eventdetail/{{ event.id }}"><div>{{ event.title }} >> 

{{ event.body_50 }}...</div>
<div>Date / Time: {{ event.date }} / {{ event.time }}</div>
<div>Venue: {{ event.venue }}</div>
</a>
<br />
{% endfor %}

{% endblock %}
